root = true

[*]
indent_style=space
indent_size=4
insert_final_newline=true
max_line_length = 120

[*.{kt,kts}]
# IDEA auto-imports using wildcards so we will allow it
disabled_rules=no-wildcard-imports
