# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Folders and files used by gradle and IDEs
.vscode
.idea
.settings
.classpath
.project

# Fabric specific folders
fabric/run/
