# BlockProt Config

# Load a language file from the plugins/BlockProt/ directory.
# You can create your own language files and edit existing ones.
# Translations can be missing from this file and will instead be loaded
# from "translations_en.yml".
# Current pre-defined languages include:
#   - translations_de.yml: German
#   - translations_en.yml: English
#   - translations_es.yml: Spanish
#   - translations_tr.yml: Turkish
language_file: translations_en.yml

# If set to "true", anytime an admin joins the server, they will
# receive an in-game message if this plugin is outdated.
# If set to "false", no message will be sent but /blockprot update
# will still work.
notify_op_of_updates: false

# If set to "true", redstone will be automatically disallowed on every
# placed block, if the player has lock on place enabled.
redstone_disallowed_by_default: false

# A list of world names the plugin should not be usable in.
# The case of each name is ignored.
# Useful for a mining-only world where a block should not be
# owned by anyone. For example:
#   - world_mining
#   - world_end
excluded_worlds: [ ]

# Tile entities that should be locked. Tile entities are blocks
# that can contain items. You can find a detailed list of all
# possible values at https://hub.spigotmc.org/javadocs/bukkit/org/bukkit/Material.html.
lockable_tile_entities:
  - CHEST
  - TRAPPED_CHEST
  - FURNACE
  - SMOKER
  - BLAST_FURNACE
  - HOPPER
  - BARREL
  - BREWING_STAND
  - DISPENSER
  - DROPPER
  - LECTERN

# All varieties of shulker boxes that should be lockable.
lockable_shulker_boxes:
  - BLACK_SHULKER_BOX
  - BLUE_SHULKER_BOX
  - BROWN_SHULKER_BOX
  - CYAN_SHULKER_BOX
  - GRAY_SHULKER_BOX
  - GREEN_SHULKER_BOX
  - LIGHT_BLUE_SHULKER_BOX
  - LIGHT_GRAY_SHULKER_BOX
  - LIME_SHULKER_BOX
  - MAGENTA_SHULKER_BOX
  - ORANGE_SHULKER_BOX
  - PINK_SHULKER_BOX
  - PURPLE_SHULKER_BOX
  - RED_SHULKER_BOX
  - SHULKER_BOX
  - WHITE_SHULKER_BOX
  - YELLOW_SHULKER_BOX

# Blocks that should be lockable.
# This only works with Spigot 1.16.4 or higher.
lockable_blocks:
  - ANVIL
  - CHIPPED_ANVIL
  - DAMAGED_ANVIL
  - ACACIA_FENCE_GATE
  - BIRCH_FENCE_GATE
  - CRIMSON_FENCE_GATE
  - DARK_OAK_FENCE_GATE
  - JUNGLE_FENCE_GATE
  - OAK_FENCE_GATE
  - SPRUCE_FENCE_GATE
  - WARPED_FENCE_GATE

# Doors are two blocks and are therefore handled differently.
# This only works with Spigot 1.16.4 or higher.
lockable_doors:
  - ACACIA_DOOR
  - BIRCH_DOOR
  - CRIMSON_DOOR
  - DARK_OAK_DOOR
  - JUNGLE_DOOR
  - OAK_DOOR
  - SPRUCE_DOOR
  - WARPED_DOOR
