name: CI

on:
  push:
    branches: [ master ]
    paths:
      - '**.java'
      - 'gradle/**'
      - '**.gradle'
      - '**.gradle.kts'
  pull_request:
    branches: [ master ]
    paths:
      - '**.java'
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    # Setting any container image breaks actions/checkout@v2.
    # container:
    #   image: openjdk:16-jdk
    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: gradle/wrapper-validation-action@v1
      - name: Ensure gradlew.sh is executable
        run: chmod +x gradlew
      - name: Build project
        run: ./gradlew build
      - uses: actions/upload-artifact@v3
        with:
          name: Artifacts
          path: |
            **/build/libs/[a-z0-9]-all.jar
            !common/**
