name: Release

on: [workflow_dispatch]

jobs:
  release_build:
    runs-on: ubuntu-20.04
    container:
      # adoptopenjdk is no longer maintained
      image: eclipse-temurin:17-jdk
      options: --user root
    steps:
      - run: apt-get update && apt-get install git -y && git --version # Ensure Git is installed for the changelog script.
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: actions/checkout marks the directory as safe, but its not picked up by fabric-action-scripts.
        run: git config --global --add safe.directory /__w/BlockProt/BlockProt
      - uses: FabricMC/fabric-action-scripts@v2
        id: changelog
        with:
          context: changelog
          workflow_id: release.yml
          # We want to exclude these commits in the changelog.
          commit_regex: (Bump|Codechange|[a-zA-Z].* \[GH\]:|Build\(deps\))(.*)
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
      - uses: gradle/wrapper-validation-action@v1
      - run: ./gradlew build github --stacktrace
        env:
          CURSEFORGE_API_KEY: ${{ secrets.CURSEFORGE_API_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHANGELOG: ${{ steps.changelog.outputs.changelog }}
      - uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: |
            **/build/libs/[a-z0-9]-all.jar
            !common/**
